In [1]:
s = "hello"
print(s.upper())   # HELLO（大文字にする）

HELLO

In [2]:
a = [3, 1, 4]
a.append(2)
a.sort()
print(a)

[1, 2, 3, 4]

In [5]:
with open("message.txt", "w", encoding="utf-8") as f:
    f.write("1行目\n")
    f.write("2行目\n")

In [6]:
with open("message.txt", "r", encoding="utf-8") as f:
    text = f.read()
    print(text)

1行目
2行目

In [8]:
import csv
with open("scores.csv", "w", encoding="utf-8", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["名前", "国語", "数学"])
    writer.writerow(["カツオ", 70, 80])

In [8]:
import csv
with open("scores.csv", "r", encoding="utf-8") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['名前', '国語', '数学']
['カツオ', '70', '80']

In [6]:
!pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Caskroom/miniconda/base/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.13/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import csv
with open("scores.csv", "r", encoding="utf-8") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

In [9]:
import pandas as pd
df = pd.read_csv("scores.csv")
df

    名前  国語  数学
0  カツオ  70  80

In [13]:
print(df["国語"].mean())
print(df["数学"].max())
print(df.describe())

70.0
80
         国語    数学
count   1.0   1.0
mean   70.0  80.0
std     NaN   NaN
min    70.0  80.0
25%    70.0  80.0
50%    70.0  80.0
75%    70.0  80.0
max    70.0  80.0

In [14]:
df.to_csv("output.csv", index=False, encoding="utf-8")

In [27]:
a = [2, 3, 1, 4]
a.sort(reverse=True)
print(a)

[4, 3, 2, 1]

In [28]:
b = [70, 85, 90, 100, 60]
b.sort()
b.reverse()
print(b)

[100, 90, 85, 70, 60]

In [29]:
b = [70, 85, 90, 100, 60]
b.sort(reverse=True)
print(b)

[100, 90, 85, 70, 60]

In [34]:
with open("message.txt", "w") as f:
    f.write("グラタンでも食べますか？\n")
    f.write("そうですか\n")
    f.write("お腹いっぱいなんですね\n")
with open("message.txt", "r") as f:
    text = f.read()
    print(text)

グラタンでも食べますか？
そうですか
お腹いっぱいなんですね

In [10]:
import pandas as pd
with open("scores.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["名前", "国語", "数学"])
    writer.writerow(["カツオ", 70, 90])
    writer.writerow(["コンブ", 60, 80])
    writer.writerow(["ナミヘー", 90, 70])

In [11]:
df = pd.read_csv("scores.csv")
df

     名前  国語  数学
0   カツオ  70  90
1   コンブ  60  80
2  ナミヘー  90  70

In [12]:
df.sort_values("国語")

     名前  国語  数学
1   コンブ  60  80
0   カツオ  70  90
2  ナミヘー  90  70

In [13]:
df = df.set_index("名前")
df.sort_values("国語")

      国語  数学
名前
コンブ   60  80
カツオ   70  90
ナミヘー  90  70

In [14]:
df[df["数学"] >= 80]

     国語  数学
名前
カツオ  70  90
コンブ  60  80

In [15]:
df["数学"] >= 80

名前
カツオ      True
コンブ      True
ナミヘー    False
Name: 数学, dtype: bool

In [18]:
sr = df["国語"] <= 80
df[sr]

     国語  数学
名前
カツオ  70  90
コンブ  60  80