In [3]:
# 第3回 演習4
year = 2100
if (year%4==0 and year%100!=0) or year%400==0:
    print("うるう年")
else:
    print("平年")

平年

In [ ]:
# 整数 n を入力
n = int(input("整数を入力してください: "))

# 条件判定：
# ① 3の倍数（n % 3 == 0）
# ② 数字に3が含まれている（'3' in str(n)）
if (n % 3 == 0) or ('3' in str(n)):
    print(f"{n}!!!")
else:
    print(n)

In [ ]:
range(2,10,2)
for i in range(3,10,2):
    print(i)

3
5
7
9

In [7]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [16]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [10]:
total = 0
for i in range(1,11):
    total += i
print(f"合計は {total}")

合計は 55

In [12]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [13]:
n = 1
total = 0
while n<101:
    total += n
    n += 1
print(f"合計は {total}")

合計は 5050

In [15]:
n = 2
total = 0
while n<101:
    total += n
    n += 2
print(f"偶数の合計は {total}")

偶数の合計は 2550

In [ ]:
n = 1
total = 0
while n<101:
    if n%2==0:
        total += n
    n += 1
print(f"偶数の合計は {total}")

In [21]:
for i in range(5):
    for j in range(5):
        if j==2:
            break
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

In [22]:
for i in range(1,10):
    if i%3==0:
        continue
    print(i)

1
2
4
5
7
8

In [24]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [26]:
while True:
    s = input("整数を入力（qで終了）: ")
    if s == "q":
        break
    try:
        n = int(s)
        print("偶数" if n % 2 == 0 else "奇数")
    except ValueError:
        print("整数を入力してください")

奇数
偶数
偶数
整数を入力してください

In [27]:
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

In [29]:
for i in range(1,10):
    for j in range(1,10):
        multiple = i * j
        print(f"{i}x{j}={multiple}")

1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [47]:
for a in range(1, 10):
    for b in range(1, 10):
        print(f"{a}×{b}={a*b:2d}", end="  ")
    print()  # 改行

1×1= 1  1×2= 2  1×3= 3  1×4= 4  1×5= 5  1×6= 6  1×7= 7  1×8= 8  1×9= 9
2×1= 2  2×2= 4  2×3= 6  2×4= 8  2×5=10  2×6=12  2×7=14  2×8=16  2×9=18
3×1= 3  3×2= 6  3×3= 9  3×4=12  3×5=15  3×6=18  3×7=21  3×8=24  3×9=27
4×1= 4  4×2= 8  4×3=12  4×4=16  4×5=20  4×6=24  4×7=28  4×8=32  4×9=36
5×1= 5  5×2=10  5×3=15  5×4=20  5×5=25  5×6=30  5×7=35  5×8=40  5×9=45
6×1= 6  6×2=12  6×3=18  6×4=24  6×5=30  6×6=36  6×7=42  6×8=48  6×9=54
7×1= 7  7×2=14  7×3=21  7×4=28  7×5=35  7×6=42  7×7=49  7×8=56  7×9=63
8×1= 8  8×2=16  8×3=24  8×4=32  8×5=40  8×6=48  8×7=56  8×8=64  8×9=72
9×1= 9  9×2=18  9×3=27  9×4=36  9×5=45  9×6=54  9×7=63  9×8=72  9×9=81

In [31]:
fruits = ["apple", "banana", "cherry"]
for i, f in enumerate(fruits):
    print(i, f)

0 apple
1 banana
2 cherry

In [46]:
subject_list = ["国語","数学","英語"]
score_list = [80,70,90]
for i in range(len(subject_list)):
    print(f"{subject_list[i]}: {score_list[i]}点")

国語: 80点
数学: 70点
英語: 90点

In [45]:
# 解答例
subjects = ["国語", "数学", "英語"]
scores   = [80, 70, 90]

for sub, sc in zip(subjects, scores):
    print(f"{sub}: {sc}点")

国語: 80点
数学: 70点
英語: 90点

In [ ]:
# 半答
for n in range(1, 31):
    if n % 15 == 0:
        print("FizzBuzz")
    elif n % 3 == 0:
        print("Fizz")
    elif n % 5 == 0:
        print("Buzz")
    else:
        print(n)

In [ ]:
# 全答
for i in range(1,31):
    text = ""
    if i%3==0:
        text += "Fizz"
    if i%5==0:
        text += "Buzz"
    if i%3!=0 and i%5!=0:
        text = str(i)
    print(text)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

In [44]:
count_a = 0
count_b = 0
for i in range(1,101):
    if i%2==0 and i%3==0:
        count_a += 1
    if i%2==1 and i%5==0:
        count_b += 1
print(f"偶数かつ3の倍数の個数は {count_a}個，奇数かつ5の倍数の個数は {count_b}個")

偶数かつ3の倍数の個数は 16個，奇数かつ5の倍数の個数は 10個